nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 30px;
}

.navLinks {
  text-decoration: none;
  margin-right: 15px;
  color: purple;
  font-size: 20px;
  font-weight: bold;
}
.navActiveLink {
  composes: navLinks;
  color: blue;
}
.userMenu {
  display: flex;
  align-items: center;
}
.userMenuEmail {
  font-style: italic;
  margin-right: 15px;
  color: purple;
  font-size: 20px;
  font-weight: bold;
}
